<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Salud</ion-card-title>
      <img alt="Silhouette of mountains" src="assets/icon/whatIs.png" />
    </ion-card-header>
  
    <ion-card-content>
      Es el conjunto de Programas, proyectos, políticas y actividades que se orientan al desarrollo físico, psicoactivo, espiritual, cultural y estético de los estudiantes, docentes y personal administrativo”. Bienestar Institucional, es también esencia en la formación de personas integrales.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cultura</ion-card-title>
      <img alt="Silhouette of mountains" src="assets/icon/whatIs.png" />
    </ion-card-header>
  
    <ion-card-content>
      Es el conjunto de Programas, proyectos, políticas y actividades que se orientan al desarrollo físico, psicoactivo, espiritual, cultural y estético de los estudiantes, docentes y personal administrativo”. Bienestar Institucional, es también esencia en la formación de personas integrales.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Deporte</ion-card-title>
      <img alt="Silhouette of mountains" src="assets/icon/whatIs.png" />
    </ion-card-header>
  
    <ion-card-content>
      Es el conjunto de Programas, proyectos, políticas y actividades que se orientan al desarrollo físico, psicoactivo, espiritual, cultural y estético de los estudiantes, docentes y personal administrativo”. Bienestar Institucional, es también esencia en la formación de personas integrales.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>PEBI</ion-card-title>
      <img alt="Silhouette of mountains" src="assets/icon/whatIs.png" />
    </ion-card-header>
  
    <ion-card-content>
      Es el conjunto de Programas, proyectos, políticas y actividades que se orientan al desarrollo físico, psicoactivo, espiritual, cultural y estético de los estudiantes, docentes y personal administrativo”. Bienestar Institucional, es también esencia en la formación de personas integrales.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Servicio Social</ion-card-title>
      <img alt="Silhouette of mountains" src="assets/icon/whatIs.png" />
    </ion-card-header>
  
    <ion-card-content>
      Es el conjunto de Programas, proyectos, políticas y actividades que se orientan al desarrollo físico, psicoactivo, espiritual, cultural y estético de los estudiantes, docentes y personal administrativo”. Bienestar Institucional, es también esencia en la formación de personas integrales.
    </ion-card-content>
  </ion-card>
</ion-content>
