<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Qué es Bienestar Universitario?</ion-card-title>
      <img alt="Silhouette of mountains" src="assets/icon/whatIs.png" />
    </ion-card-header>
  
    <ion-card-content>
      Es el conjunto de Programas, proyectos, políticas y actividades que se orientan al desarrollo físico, psicoactivo, espiritual, cultural y estético de los estudiantes, docentes y personal administrativo”. Bienestar Institucional, es también esencia en la formación de personas integrales.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>
      Contáctenos "Bienestar en línea"
    </ion-card-title>
    <ion-card-content>
      <p>Email: </p>
      <p>bienestaraguachica@unicesar.edu.co</p>

      <p>Dirección:</p> 
      <p>Cra 40 vía al mar Aguachica, Cesar</p>

      <p>Teléfono:</p> 
      <p>+57 565 49 00</p>
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-title>
      Redes Sociales:
    </ion-card-title>
    <ion-card-content>
      <ion-row>
        <ion-col class="text-center">
          <a href="https://www.facebook.com/groups/491696241512707/?ref=share"> <ion-icon class="logo_facebook" name="logo-facebook" ></ion-icon></a>
        </ion-col>
        <!-- <ion-col class="text-center">
          <a href="https://twitter.com/ccaguachica"><ion-icon class="logo_twitter" name="logo-twitter" ></ion-icon></a>
        </ion-col>
        <ion-col class="text-center">
          <a  href="https://www.instagram.com/camaradecomercioaguachica/"><ion-icon class="logo_instagram" name="logo-instagram" ></ion-icon></a>
        </ion-col> -->
      </ion-row>
    </ion-card-content>
    
  </ion-card>
</ion-content>