<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Misión y Visión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Misión</ion-card-title>
      <img alt="Silhouette of mountains" src="assets/icon/mission.png" />
    </ion-card-header>
  
    <ion-card-content>
      Fortalecer y potenciar el ser humano, ayudando al mejoramiento de la calidad de vida de los estudiantes, docentes y administrativos de la Universidad Popular del Cesar, a través de un conjunto de acciones eficientes sustentados en los principios de integralidad, participación, racionalización, solidaridad y equidad.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Visión</ion-card-title>
      <img alt="Silhouette of mountains" src="assets/icon/vission.png" />
    </ion-card-header>
  
    <ion-card-content>
      Bienestar Institucional dispondrá los recursos humanos, logísticos y tecnológicos que contribuyan al mejoramiento de la calidad de vida y al desarrollo humano e impulsen procesos de construcción social, creativos y productivos que ayuden a fortalecer las áreas, formativa, participativa, comunicativa y de prestación de servicios de toda la comunidad universitaria
    </ion-card-content>
  </ion-card>
</ion-content>